### Spacy Example

In [14]:
# Machine Learning imports
import nltk
import re
import pandas as pd
from collections import Counter
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import GridSearchCV
from sklearn.externals import joblib
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem.wordnet import WordNetLemmatizer

In [15]:
# Loading the dataset
df = pd.read_csv('../data/train_tweets.txt', sep="\t", header=None, names=["id", "tweet"])
df.head(3)

     id                                              tweet
0  8746     @handle Let's try and catch up live next week!
1  8746  Going to watch Grey's on the big screen - Thur...
2  8746  @handle My pleasure Patrick....hope you are well!

In [16]:
user_id = df['id'][df.id == 8746]
print('number of positve tagged sentences is:  {}'.format(len(user_id)))

number of positve tagged sentences is:  91

In [27]:
# get a word count per sentence column
def word_count(sentence):
    return len(sentence.split())
    
df['word_count'] = df['tweet'].apply(word_count)
df.head(3)

# # Exclude stopwords with Python's list comprehension and pandas.DataFrame.apply.
    # stop_words = set(stopwords.words('english'))
# df['tweet_without_stopwords'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

,id,tweet,word_count,tokens
0,8746,@ let's try and catch up live next week!,9,"[@, let's, try, catch, live, next, week!]"
1,8746,going to watch grey's on the big screen - thur...,11,"[going, watch, grey's, big, screen, -, thursda..."
2,8746,@ my pleasure patrick....hope you are well!,7,"[@, pleasure, patrick....hope, well!]"

In [20]:
# Pre-processing the raw tweets
stop_words = set(stopwords.words('english'))
def processTweet(tweet):
    # Removing http links from the tweet
    tweet = re.sub(r"http\S+", "", tweet)
    # Removing 'handle' keyword from the tweets
    tweet = re.sub(r"handle", "", tweet)
    # To lowercase
    tweet = tweet.lower()
    # tweet = (lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
    tweet = ''.join(c for c in tweet if c <= '\uFFFF') 
    return tweet

# clean dataframe's text column
df['tweet'] = df['tweet'].apply(processTweet)
# preview some cleaned tweets
df['tweet'].head()

0             @ let's try and catch up live next week!
1    going to watch grey's on the big screen - thur...
2          @ my pleasure patrick....hope you are well!
3    @ hi there! been traveling a lot and lots more...
4    rt @ looking to drink clean & go green? purcha...
Name: tweet, dtype: object

In [24]:
# most common words in twitter dataset
all_words = []
for line in list(df['tweet']):
    words = line.split()
    for word in words:
        all_words.append(word.lower())
Counter(all_words).most_common(10)

[('@', 141587),
 ('the', 125117),
 ('to', 98094),
 ('a', 77160),
 ('i', 70171),
 ('and', 54093),
 ('for', 52677),
 ('of', 51519),
 ('in', 50792),
 ('is', 45305)]

In [25]:
# tokenize helper function
def text_process(raw_text):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
#     # Check characters to see if they are in punctuation
#     nopunc = [char for char in list(raw_text) if char not in string.punctuation]
#     # Join the characters again to form the string.
#     nopunc = ''.join(nopunc)
    raw_text = ''.join(raw_text) 
    
    # Now just remove any stopwords
    return [word for word in raw_text.lower().split() if word.lower() not in stopwords.words('english')]

# def remove_words(word_list):
#     remove = ['paul','ryan','...','“','”','’','…','ryan’']
#     return [w for w in word_list if w not in remove]
# -------------------------------------------
# tokenize message column and create a column for tokens
df = df.copy()
df['tokens'] = df['tweet'].apply(text_process) # tokenize style 1
# df_paulry['no_pauls'] = df_paulry['tokens'].apply(remove_words) #tokenize style 2
df.head()

,id,tweet,word_count,tokens
0,8746,@ let's try and catch up live next week!,9,"[@, let's, try, catch, live, next, week!]"
1,8746,going to watch grey's on the big screen - thur...,11,"[going, watch, grey's, big, screen, -, thursda..."
2,8746,@ my pleasure patrick....hope you are well!,7,"[@, pleasure, patrick....hope, well!]"
3,8746,@ hi there! been traveling a lot and lots more...,27,"[@, hi, there!, traveling, lot, lots, come, ne..."
4,8746,rt @ looking to drink clean & go green? purcha...,19,"[rt, @, looking, drink, clean, &, go, green?, ..."

In [28]:
# vectorize
bow_transformer = CountVectorizer(analyzer=text_process).fit(df['tweet'])
# print total number of vocab words
print(len(bow_transformer.vocabulary_))

324183

In [31]:
# # example of vectorized text
# sample_tweet = df['tweet'][123]
# print(sample_tweet)
# print('\n')
# # vector representation
# bow_sample = bow_transformer.transform([sample_tweet])
# print(bow_sample)
# print('\n')

# transform the entire DataFrame of messages
messages_bow = bow_transformer.transform(df['tweet'])
# check out the bag-of-words counts for the entire corpus as a large sparse matrix
print('Shape of Sparse Matrix: ', messages_bow.shape)
print('Amount of Non-Zero occurences: ', messages_bow.nnz)

Shape of Sparse Matrix:  (328195, 324183)
Amount of Non-Zero occurences:  2852457

In [32]:
# from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(messages_bow)

# to transform the entire bag-of-words corpus
messages_tfidf = tfidf_transformer.transform(messages_bow)
print(messages_tfidf.shape)

(328195, 324183)

In [1]:
# Run Train Data Through Pipeline analyzer=text_process
# uncomment below to train on a larger dataset but it's very slow for a slower machine.
#X_train, X_test, y_train, y_test = train_test_split(df['tweet'], df['id'], test_size=0.2)
X_train, X_test, y_train, y_test = train_test_split(df['tweet'][:50000], df['id'][:50000], test_size=0.2)

# create pipeline
pipeline = Pipeline([
    ('bow', CountVectorizer(strip_accents='ascii',
                            stop_words='english',
                            lowercase=True)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

# this is where we define the values for GridSearchCV to iterate over
parameters = {'bow__ngram_range': [(1, 1), (1, 2)],
              'tfidf__use_idf': (True, False),
              'classifier__alpha': (1e-2, 1e-3),
             }

# do 10-fold cross validation for each of the 6 possible combinations of the above params
grid = GridSearchCV(pipeline, cv=10, param_grid=parameters, verbose=1)
grid.fit(X_train,y_train)

# summarize results
print("\nBest Model: %f using %s" % (grid.best_score_, grid.best_params_))
print('\n')
means = grid.cv_results_['mean_test_score']
stds = grid.cv_results_['std_test_score']
params = grid.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("Mean: %f Stdev:(%f) with: %r" % (mean, stdev, param))

NameError: name 'train_test_split' is not defined

In [34]:
# save best model to current working directory
joblib.dump(grid, "twitter_sentiment.pkl")

# load from file and predict using the best configs found in the CV step
model_NB = joblib.load("twitter_sentiment.pkl" )

# get predictions from best model above
y_preds = model_NB.predict(X_test)
print('accuracy score: ',accuracy_score(y_test, y_preds))
print('\n')
print('confusion matrix: \n',confusion_matrix(y_test,y_preds))
print('\n')
print(classification_report(y_test, y_preds))

accuracy score:  0.443


confusion matrix:
 [[8 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 6 0]
 [0 0 0 ... 0 0 9]]


              precision    recall  f1-score   support

          28       0.42      0.53      0.47        15
         483       1.00      0.20      0.33         5
         484       0.00      0.00      0.00         1
         564       0.33      0.30      0.32        10
         572       0.88      1.00      0.94        15
         578       1.00      0.40      0.57         5
         638       0.67      0.57      0.62         7
         643       1.00      0.22      0.36         9
         713       0.14      0.50      0.22         2
         766       0.33      0.17      0.22         6
         841       0.75      0.50      0.60         6
         852       0.31      0.36      0.33        14
         982       0.40      0.40      0.40         5
        1017       0.45      0.61      0.52        23
        1116       0.00      0.00      0.00         4
        1121       0.28      0.38      0.32        13
        1163       0.79      0.65      0.71        23
        1173       1.00      0.67      0.80         9
        1224       1.00      0.43      0.60         7
        1247       0.00      0.00      0.00         6
        1293       0.78      0.70      0.74        10
        1431       0.00      0.00      0.00         1
        1533       1.00      1.00      1.00         6
        1613       0.50      0.50      0.50         8
        1623       0.00      0.00      0.00         6
        1634       0.50      0.20      0.29         5
        1732       0.38      0.75      0.50         4
        1763       1.00      0.50      0.67         4
        1822       0.67      0.50      0.57         4
        1854       0.50      0.57      0.53         7
        1962       0.25      0.17      0.20        12
        2143       0.71      0.83      0.77         6
        2260       0.17      0.40      0.24         5
        2423       0.38      0.50      0.43         6
        2465       0.91      0.91      0.91        11
        2504       0.00      0.00      0.00         5
        2582       0.00      0.00      0.00        10
        2608       0.00      0.00      0.00         4
        2764       0.44      0.50      0.47         8
        2771       0.17      0.14      0.15         7
        2865       0.33      0.12      0.18         8
        2886       0.33      0.12      0.17        17
        2985       0.00      0.00      0.00         3
        3039       0.00      0.00      0.00         4
        3129       0.00      0.00      0.00         3
        3417       0.62      0.62      0.62         8
        3508       0.25      0.14      0.18         7
        3539       0.23      0.25      0.24        12
        3815       0.33      0.20      0.25         5
        3887       1.00      1.00      1.00         5
        4310       0.67      0.29      0.40         7
        4375       0.00      0.00      0.00         5
        4450       0.25      0.50      0.33         2
        4615       0.38      0.21      0.27        14
        4772       0.67      0.80      0.73         5
        4897       0.17      0.50      0.25         4
        4937       0.60      0.55      0.57        11
        5012       0.56      0.67      0.61        15
        5050       0.44      0.61      0.51        18
        5187       0.00      0.00      0.00         5
        5198       0.00      0.00      0.00         5
        5337       0.00      0.00      0.00         8
        5373       0.33      0.08      0.13        12
        5455       0.71      0.62      0.67         8
        5478       0.43      0.33      0.38         9
        5498       0.89      1.00      0.94         8
        5607       1.00      0.44      0.62         9
        5654       0.14      0.18      0.16        17
        5822       0.17      0.50      0.25         2
        5850       0.00      0.00      0.00         9
        5938       0.90      0.87      0.89        31
        6086       0.25      0.33      0.29         3
        6136       0.40      0.67      0.50         3
        6140       0.50      0.33      0.40         3
        6205       0.00      0.00      0.00         6
        6312       0.30      0.33      0.32         9
        6385       0.00      0.00      0.00         3
        6578       0.33      0.17      0.22         6
        6796       0.62      0.71      0.67         7
        6847       0.62      0.83      0.71         6
        7049       0.71      0.56      0.63         9
        7070       0.20      0.25      0.22         4
        7087       0.50      1.00      0.67         2
        7123       0.75      1.00      0.86         6
        7254       0.80      1.00      0.89        20
        7315       1.00      1.00      1.00         4
        7477       1.00      0.40      0.57         5
        7482       0.16      0.41      0.23        32
        7593       0.75      0.38      0.50         8
        7685       0.60      0.30      0.40        10
        7736       0.20      0.23      0.21        39
        7838       0.31      0.57      0.40         7
        8129       0.50      0.11      0.18         9
        8523       0.46      0.86      0.60        14
        8573       0.50      0.33      0.40         6
        8595       0.22      0.43      0.29        14
        8746       0.33      0.38      0.35        16
        8901       0.33      0.12      0.18         8
        9060       0.40      1.00      0.57         2
        9148       0.55      0.85      0.67        13
        9220       0.00      0.00      0.00         7
        9311       0.12      0.09      0.11        11
        9354       0.67      0.40      0.50         5
        9442       0.00      0.00      0.00         8
        9595       0.50      0.30      0.37        10
        9629       0.58      0.68      0.63        31
        9661       1.00      0.40      0.57        10
        9679       0.67      0.50      0.57         4
        9765       0.36      0.36      0.36        11
        9786       0.45      0.29      0.36        17
        9846       0.00      0.00      0.00         5
        9968       0.75      0.75      0.75         8
        9976       0.90      1.00      0.95         9

    accuracy                           0.44      1000
   macro avg       0.44      0.41      0.40      1000
weighted avg       0.47      0.44      0.43      1000

/home/ubuntu/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)